<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layuimini-main">
    <div class="layui-form layuimini-form" lay-filter="orderForm">
        <div class="layui-row">
            <div id="addRowHtml">
                <div class="layui-col-md12">
                    <h2 style="text-align: center;margin-bottom: 20px">美境废品回收站收据</h2>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">回收客</label>
                            <div class="layui-input-inline">
                                <select name="userNameId" lay-verify="required" lay-search="">
                                    <option value="">选择或搜索回收客</option>
                                    <option th:each="users : ${newUsersList}" th:value="${users.nameId}" th:text="${users.userName}">layer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">收据日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="receiptDate" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md4">
                        <h3 style="text-align: center;border: 1px solid #e6e6e6;">废品分类</h3>
                    </div>
                    <div class="layui-col-md4">
                        <h3 style="text-align: center;border: 1px solid #e6e6e6;">废品斤数</h3>
                    </div>
                    <div class="layui-col-md4">
                        <h3 style="text-align: center;border: 1px solid #e6e6e6;">废品金额</h3>
                    </div>
                </div>
                <div class="layui-row rowHtmlClass" th:each="rowNum:${#numbers.sequence(0,9)}">
                    <div class="layui-col-md4 selectClass">
                        <select name="" lay-verify="required" lay-search="" lay-filter="categoryFilter">
                            <option value="">选择或搜索分类</option>
                            <option th:each="category : ${newCategoryList}" th:text="${category.unitName}" th:value="${category.unitValue}"></option>
                        </select>
                    </div>
                    <div class="layui-col-md4 cattyClass">
                        <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入斤数" class="layui-input" oninput="getInputValue(this)">
                    </div>
                    <div class="layui-col-md4 amountClass">
                        <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

            </div>
            <div style="float: right;margin-top: 20px">
                <span>总计金额：</span><em id="allAmount">0</em>
            </div>
        </div>
    </div>
</div>
<script id="rowHtml" type="text/html">
    <div class="layui-row">
        <div class="layui-row">
            <div class="layui-col-md4 selectClass">
                <select name="" lay-verify="required" lay-search="" lay-filter="categoryFilter">
                    <option value="">选择或搜索分类</option>
                    <option th:each="category : ${newCategoryList}" th:text="${category.unitName}" th:value="${category.unitValue}"></option>
                </select>
            </div>
            <div class="layui-col-md4 cattyClass">
                <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入斤数" class="layui-input" oninput="getInputValue(this)">
            </div>
            <div class="layui-col-md4 amountClass">
                <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
    </div>
</script>
<script>
    layui.use(['form', 'table','laytpl'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            $ = layui.$;
        //日期
        laydate.render({
            elem: '#date'
        });
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data);
            $.ajax({
                url:'/categoryManagement/save',
                type: 'post',
                data: data.field,
                success:function (){
                    var index = layer.alert("保存成功", function () {
                        // 关闭弹出层
                        layer.close(index);
                        layer.close(parentIndex);

                    });
                },
                error:function (){
                    layer.alert("保存失败");
                }
            })
            return false;
        });

        form.on('select(categoryFilter)', function(data){
            var selectThis=$(data.elem); //得到select原始DOM对象
            if (data.value!=""){
                var categoryId=data.value.split("-")[1];
                var hasSelect=false;
                selectThis.parents().parents().siblings(".rowHtmlClass").each(function (){
                    var otherSelectThat=$(this).children().children();
                    var otherSelectName=otherSelectThat.attr("name");
                    if (otherSelectName=="category_"+categoryId){
                        layer.msg("已经选择该分类了");
                        selectThis.attr("name","");
                        selectThis.val("");
                        hasSelect=true;
                    }
                })
                if (!hasSelect){
                    selectThis.attr("name","category_"+categoryId)
                    selectThis.parents().siblings(".cattyClass").children().attr("name","catty_"+categoryId)
                    selectThis.parents().siblings(".amountClass").children().attr("name","amount_"+categoryId)
                }
                // console.log(data.value); //得到被选中的值
                // console.log(data.othis); //得到美化后的DOM对象
            }
        });


        var data = { //数据

        }
        var getTpl = rowHtml.innerHTML
            ,view = $('#addRowHtml');
        var active = {
            addRowHtml:function () {
                laytpl(getTpl).render(data, function(html){
                    view.append(html);
                    form.render();
                });
            },
            submitForm:function (){
                var allAmount=$("#allAmount").html();
                var formData=form.val("orderForm");
                formData.allAmount=allAmount;
                var formDataStr=JSON.stringify(formData);
                console.log(formData);
                $.ajax({
                    url:'/orderManagement/save',
                    type:'post',
                    data: {"dataJson":formDataStr},
                    success:function (){
                        var index = layer.alert("保存成功", function () {
                            // 关闭弹出层
                            layer.close(index);
                            layer.close(parentIndex);

                        });
                    },
                    error:function (){

                    }
                })
            }
        }
        window.parent._active = active;
    });
   var $ = layui.$;
    function getInputValue(that){
        var numValue = $(that).val();
        var unitValue = $(that).parents().siblings(".selectClass").children().val().split("-")[0];
        $(that).parents().siblings(".amountClass").children().val((numValue*100)*(unitValue*100)/10000);
        var allAmount=0;
        $(".layui-row").children(".amountClass").each(function (){
            var amount = $(this).children().val();
            allAmount=allAmount+amount*10000;
        })
        $("#allAmount").html(allAmount/10000);
    }
</script>
