<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layuimini-main">

    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="categoryName" lay-verify="required" lay-reqtext="分类名称不能为空" placeholder="请输入分类名称" th:value="${category?.categoryName}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">单位名称</label>
            <div class="layui-input-block">
                <input type="text" name="unitName" lay-verify="required" lay-reqtext="单位名称不能为空" placeholder="请输入单位名称" th:value="${category?.unitName}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">单位值</label>
            <div class="layui-input-block">
                <input type="number" name="unitValue" lay-verify="required" lay-reqtext="单位值不能为空" placeholder="请输入单位值" th:value="${category?.unitValue}" class="layui-input">
            </div>
        </div>
        <input hidden name="id" th:value="${category?.id}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data);
            $.ajax({
                url:'/categoryManagement/save',
                type: 'post',
                data: data.field,
                success:function (){
                    var index = layer.alert("保存成功", function () {
                        // 关闭弹出层
                        layer.close(index);
                        layer.close(parentIndex);

                    });
                },
                error:function (){
                    layer.alert("保存失败");
                }
            })
            return false;
        });

    });
</script>
