<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="orderNo" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">回收客</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">收据日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="receiptDate" id="date" placeholder="年-月-日" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate,
            miniPage = layui.miniPage;
        //日期
        laydate.render({
            elem: '#date'
        });
        table.render({
            elem: '#currentTableId',
            url: '/orderManagement/list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }
            ],
            cols: [
                [
                {type: "checkbox", width: 50},
                {field: 'orderNo', width: 200, title: '订单号'},
                {field: 'userName', width: 200, title: '回收客'},
                {field: 'receiptDate', width: 200, title: '收据日期',templet : "<div>{{layui.util.toDateString(d.receiptDate, 'yyyy年MM月dd日')}}</div>"},
                {field: 'allAmount', title: '总计金额', width: 200},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    orderNo: data.field.orderNo,
                    userName: data.field.userName,
                    receiptDate: data.field.receiptDate
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('/orderManagement/addEdit');
                var openWH = miniPage.getOpenWidthHeight();
                console.log(openWH)
                var index = layer.open({
                    title: '添加订单',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [(openWH[0]/2) + 'px', openWH[1] + 'px'],
                    offset: [openWH[2]/2+'px', openWH[3]*2+100 + 'px'],
                    content: content,
                    btn: ['提交收据','新增行数','取消提交'],
                    yes: function (){
                        window._active.submitForm();
                    },
                    btn2: function (){
                        window._active.addRowHtml();
                        return false;
                    },
                    end:function (){
                        reloadTable();
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var orderNoStr="";
                for (var i = 0; i < data.length; i++) {
                    var orderNo=data[i].orderNo;
                    if (orderNoStr!=""){
                        orderNoStr+=","+orderNo;
                    }else {
                        orderNoStr+=orderNo;
                    }
                }
                layer.confirm('是否批量删除订单', function (index) {
                    $.ajax({
                        url:'/orderManagement/delete?orderNoStr='+orderNoStr,
                        type:'get',
                        success:function (){
                            layer.msg("删除成功");
                            layer.close(index);
                            reloadTable();
                        },
                        error:function (){
                            layer.msg("删除失败")
                        }
                    })
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            var orderNo=data.orderNo;
            if (obj.event === 'edit') {

                var content = miniPage.getHrefContent('/orderManagement/addEdit?orderNo='+orderNo);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [(openWH[0]/2) + 'px', openWH[1] + 'px'],
                    offset: [openWH[2]/2+'px', openWH[3]*2+100 + 'px'],
                    content: content,
                    btn: ['提交收据','新增行数','取消提交'],
                    yes: function (){
                        window._active.submitForm();
                    },
                    btn2: function (){
                        window._active.addRowHtml();
                        return false;
                    },
                    end:function (){
                        reloadTable();
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('是否删除该订单', function (index) {
                    $.ajax({
                        url:'/orderManagement/delete?orderNoStr='+orderNo,
                        type:'get',
                        success:function (){
                            layer.msg("删除成功");
                            obj.del();
                            layer.close(index);
                        },
                        error:function (){
                            layer.msg("删除失败")
                        }
                    })
                });
            }
        });
        function reloadTable(){
            table.reload('currentTableId',{
                page:{
                    curr: 1 //重新从第1页加载
                }
            })
        }
    });
</script>
