<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.mapper.OrderItemMapper">
    <select id="findCategoryWeightReport" resultType="java.lang.Integer">
        SELECT
        IFNULL( cattyNumber, 0 )
        FROM
        (
        SELECT
        SUM( catty_number ) cattyNumber,
        DATE_FORMAT( create_date, '%Y-%m-%d' ) dayTime
        FROM
        tb_order_item
        WHERE
        category_id = #{categoryId}
        <if test="userId!=null">
            AND user_id =#{userId}
        </if>
        AND DATE_SUB( CURDATE(), INTERVAL 30 DAY ) &lt;= DATE( create_date )
        GROUP BY
        DATE_FORMAT( create_date, '%Y-%m-%d' )
        ) t0
        RIGHT JOIN ( SELECT ( CURDATE() - INTERVAL help_topic_id DAY ) dayTime FROM mysql.help_topic WHERE help_topic_id &lt; 30 ) t1 ON t1.dayTime = t0.dayTime ORDER BY t1.dayTime ASC
    </select>
    <select id="findCategoryWeightYearReport" resultType="com.recycle.model.vo.CategoryUserYearReportVo">
        SELECT IFNULL(t0.cattyNumber,0) catty_number,t1.year_time FROM (
        SELECT
        SUM( catty_number ) cattyNumber,DATE_FORMAT( create_date, '%Y' ) year_time
        FROM
        tb_order_item
        WHERE
        category_id = #{categoryId}
        <if test="userId!=null">
            AND user_id =#{userId}
        </if>
        AND DATE_SUB( CURDATE(), INTERVAL 3 YEAR ) &lt;= DATE( create_date )
        GROUP BY
        DATE_FORMAT( create_date, '%Y' )
        ) t0 RIGHT JOIN  (SELECT DATE_FORMAT( (CURDATE() - INTERVAL help_topic_id YEAR), '%Y' ) year_time FROM mysql.help_topic WHERE help_topic_id &lt; 3) t1 on t1.year_time=t0.year_time ORDER BY t1.year_time ASC
    </select>
</mapper>
